.films {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .filmsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .filmsResults{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
